<div class="container">
	<div id="sony-bar" class="sony-bar">
		<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d2/Sony_logo_%28white%29.svg/320px-Sony_logo_%28white%29.svg.png" alt="sony logo" width="70px" height="16px" />
	</div>
	<header class="menu-bar__container">
		<div class="menu-bar__logo">
			<img
				src="assets/ps-logo.png"
				alt="playstation logo"
				srcset=""
				width="140px"
				height="32px"
			/>
		</div>
		<div class="menu-bar__item">
			<ul>
				<li><a href="#">YOUTUBE</a></li>
				<li><a href="#">LINKEDIN</a></li>
				<li><a href="#">GITHUB</a></li>
			</ul>
		</div>
	</header>
</div>
