<div class="home__container">
	<div class="cards__container">
		<app-card gameCover="assets/highlights/image-02.png"> </app-card>
		<app-card gameCover="assets/highlights/image-04.jpg"> </app-card>
		<app-card gameCover="assets/highlights/image-06.jpg"> </app-card>
		<app-card gameCover="assets/highlights/image-08.jpg"> </app-card>
		<app-card gameCover="assets/highlights/image-10.jpg"> </app-card>
		<app-card gameCover="assets/highlights/image-12.jpg"> </app-card>
		<app-card gameCover="assets/highlights/image-14.png"> </app-card>
	</div>
	<button class="button">
		Ver mais
	</button>
</div>
